ul {
  padding-top: 1em;
  list-style-type: none;
}

li ul {
  padding-top: 0.4em;
}

li {
  padding-top: 0.2em;
  padding-bottom: 0.4em;
}

#platform-buyit {
    float: right;
    width: 200px;
    margin: 0 0 8px 20px;
    border: 1px solid #CCCCCC;
    box-shadow: -1px 1px 5px 0px #CCCCCC;
}